{% load staticfiles %}
{% load crispy_forms_tags %}
{% load socialaccount %}


<!--DOCTYPE html -->
<html>
<head>
<title>Writings By Kaur</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->


    <!-- jQuery Plugin -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script><!-- Latest compiled and minified CSS -->



<style>

</style>

{{ form.media }}

</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '672411446300358',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="wrapper">

                <!-- Header -->
                    <header id="header">
                        <h1><a href="/">Writings By Kaur</a></h1>
                        <h1><a href="{% url 'portfolio' %}">About</a></h1>

                        <nav class="links">
                            <ul>

                            {% if request.user.is_authenticated %}
                                <li>Welcome {{ request.user.first_name }} </li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                {% else %}

                                <li>Welcome Guest</li>
                            {% endif %}

                                
                                {% for i in genre %}
                                <li><a href="{% url 'posts:list-genre' i.title %}">{{ i }}</a></li>                             
                                
                                {% endfor %}

                                {% if request.user.is_staff %}

                                <li><a href="{% url 'posts:create' %}">Create New Post</a></li>
                                {% endif %}
                                                                
                            </ul>
                        </nav>
                        <nav class="main">
                            <ul>
                                <li class="search">
                                    <a class="fa-search" href="#search">Search</a>
                                    <form id="search" method="get" action="#">
                                        <input type="text" type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}' />
                                    </form>
                                </li>
                                <li class="menu">
                                    <a class="fa-bars" href="#menu">Menu</a>
                                </li>
                            </ul>
                        </nav>
                    </header>

                    <section id="menu">

                    {% if not request.user.is_authenticated %}
                        <section>
                            
                        <ul class="actions vertical">
                                    {% providers_media_js %}
                                    <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-facebook" style="background-color:#3b5998;text-align:center"><li class="button big fit" style="
    background-color: #4c4cff;">Login In With Facebook</li>
                                    </a>
                                </ul>

                    
                            </section>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                        <section>
                            
                        <ul class="actions vertical">
                                    <a href="{% url 'logout' %}" class="btn btn-block btn-social btn-facebook"><li class="button big fit" style="
    background-color: #ff0000;">Logout</li>
                                    </a>
                                </ul>

                    
                            </section>
                        {% endif %}

                        <!-- Search -->
                            <section>
                                <form class="search" method="get" action="#">
                                    <input type="text" type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}' />
                                </form>
                            </section>

                        <!-- Links -->
                            
                            <section>
                                <ul class="actions">
                                {% for i in genre %}
                                        <li><a href="/genre/{{ i.title }}/" class="button fit">{{ i.title }}</a></li>
                                {% endfor %}
                                </ul>


                                

                            </section>

                        <!-- Actions -->
                            

                    </section>


                </div>


<div id="main">


<article class="post">
<center><h1>ENTER THE DETAILS HERE</h1></center>
<hr style="display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;">

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form.as_p }}


<br/>
<input type='submit' class='btn btn-default' value='Create Post' />
</form>


</article>

</div>


<script src="{% static 'assets/js/jquery.min.js' %}"></script>
            <script src="{% static 'assets/js/skel.min.js' %}"></script>
            <script src="{% static 'assets/js/util.js' %}"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="{% static 'assets/js/main.js' %}"></script>



<!-- Latest compiled and minified JavaScript -->
<script   src="https://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>

<script type="text/javascript">
$(document).ready(function(){
    $(".content-markdown").each(function(){
            var content = $(this).text()
            var markedContent = marked(content)
            $(this).html(markedContent)
    })
    $(".wmd-panel wmd-preview img").each(function(){
            $(this).addClass("img-responsive");
    })
    
    var contentInput = $("#id_content");
    function setContent(value){
        var markedContent = marked(value)
        $("#preview-content").html(markedContent)
        $("#preview-content img").each(function(){
            $(this).addClass("img-responsive")
        })
    }
    setContent(contentInput.val())
    contentInput.keyup(function(){
        var newContent = $(this).val()
        setContent(newContent)
    })
    var titleInput = $("#id_title");
    
    function setTitle(value) {
        $("#preview-title").text(value)
    }
    setTitle(titleInput.val())
    titleInput.keyup(function(){
        var newContent = $(this).val()
        setTitle(newContent)
    })
    $(".comment-reply-btn").click(function(event){
        event.preventDefault();
        $(this).parent().next(".comment-reply").fadeToggle();
    })
    // preview-title
    // preview-content
})
</script>



</body>
</html>

