{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Writings By Kaur</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'portfolio/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'portfolio/css/icomoon.css' %}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{% static 'portfolio/css/simple-line-icons.css' %}">
	<!-- Datetimepicker -->
	<link rel="stylesheet" href="{% static 'portfolio/css/bootstrap-datetimepicker.min.css' %}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{% static 'portfolio/css/flexslider.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'portfolio/css/bootstrap.css' %}">

	<link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">


	<!-- Modernizr JS -->
	<script src="{% static 'portfolio/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1674588392844900";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



	<div id="fh5co-container">
		<div id="fh5co-home" class="js-fullheight" data-section="home">

			<div class="flexslider">
				
				<div class="fh5co-overlay"></div>
				<div class="fh5co-text">
					<div class="container">
						<div class="row">
							<h1 class="to-animate">Writings by Kaur</h1>
							
						</div>
					</div>
				</div>
			  	<ul class="slides">
			   	<li style="background-image: url({% static 'portfolio/images/slide_1.jpeg' %});" data-stellar-background-ratio="0.5"></li>
			   	<li style="background-image: url({% static 'portfolio/images/slide_1.jpeg' %});" data-stellar-background-ratio="0.5"></li>
			   	<li style="background-image: url({% static 'portfolio/images/slide_1.jpeg' %});" data-stellar-background-ratio="0.5"></li>
			  	</ul>

			</div>
			
		</div>
		
		<div class="js-sticky">
			<div class="fh5co-main-nav">
				<div class="container-fluid">
					<div class="fh5co-menu-1">
						<a href="#" data-nav-section="about">About</a>
						<a href="#" data-nav-section="team">Team</a>
						<a href="">Read Our Blog Here</a>
						<a href="#" data-nav-section="reservation">Contact Us</a>
						
						
					</div>
				</div>

			</div>
		</div>

		<div id="fh5co-about" data-section="about">
			<div class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url({% static 'images/logo1.png' %})"></div>
			<div class="fh5co-2col fh5co-text">
				<h2 class="heading to-animate">About Us</h2>
				<p class="to-animate"><span class="firstcharacter">W</span>ritingsbykaur brings together women from all over the world and gives them a platform to showcase their skills, raise their voice against various issues and motivates them to persue their passion.Our motto is to empower women and to prove that women can persue every field. 
But writingsbykaur is not restricted to women only. 
We are people who not only wish to, but also works towards bringing a change.
We want to make people aware about various serious issues that exists in our society and rescue the victims.

Let's work together and remind people about self love and motivation that is burried deep inside them.</p>
				<p class="text-center to-animate"><a href="#" class="btn btn-primary btn-outline">Get in touch</a></p>
			</div>
		</div>

		<div id="fh5co-sayings">
			<div class="container">
				<div class="row to-animate">

					<div class="flexslider">
						<ul class="slides">
							
							<li>
								<blockquote>
									<p>&ldquo;We take our enemies as our competitiors, forgetting it's our own version of yesterday who is the hardest to best.&rdquo;</p>
									<p class="quote-author">&mdash; Simran Kaur (Founder)
									</p>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>&ldquo;To be called a feminist, is not only a privilege but is a word of empowerment. We don't want to be better, we just want to be equal.&rdquo;</p>
									<p class="quote-author">&mdash; Madi Carwile (Blogger)
									 </p>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>&ldquo;In the World, 
									Women are Oppressed,
									considered as Second
									Class Citizens, Sexual Objects. But also, We are Strong, Leaders, Beautiful And We are Valued. 
&rdquo;</p>
									<p class="quote-author">&mdash; Eliana (Blogger)
									 </p>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>&ldquo;Never work before breakfast; if you have to work before breakfast, eat your breakfast first.&rdquo;</p>
									<p class="quote-author">&mdash; Josh Billings</p>
								</blockquote>
							</li>
							
							
						</ul>
					</div>

				</div>
			</div>
		</div>

		<div id="fh5co-featured" data-section="features">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Latest work on Instagram </h2>
						<p class="sub-heading to-animate">Click on the pictures to see full post</p>
					</div>
				</div>
				<div class="row">
					<div class="fh5co-grid">
						

						<script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
<ul class="juicer-feed" data-feed-id="writingsbykaur"><h1 class="referral"><a href="https://www.juicer.io">Powered by Juicer</a></h1></ul
			</div>
		</div>


					</div>
				</div>

			</div>
		</div>

		

		<hr/>

<style type="text/css">
	.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}

</style>
		<div id="fh5co-menus" data-section="team">

			<section id="team">
			 <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'images/3.png' %}" class="img-responsive img-circle" alt="">
                        <h4>Simran Kaur </h4>
                        <p class="text-muted">Creative Director</p>
                        <div class="row">
				<div class="col-md-12 text-center">
					<ul class="fh5co-social">
						<li class="to-animate-2"><a href="https://www.facebook.com/simrankr012"><i class="icon-facebook"></i></a></li>
						<li class="to-animate-2"><a href="https://www.instagram.com/simrankr012/?hl=en"><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'images/2.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                                <div class="row">
				<div class="col-md-12 text-center">
					<ul class="fh5co-social">
						<li class="to-animate-2"><a href=""><i class="icon-facebook"></i></a></li>
						<li class="to-animate-2"><a href=""><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'images/3.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                               <div class="row">
				<div class="col-md-12 text-center">
					<ul class="fh5co-social">
						<li class="to-animate-2"><a href=""><i class="icon-facebook"></i></a></li>
						<li class="to-animate-2"><a href=""><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>

		</div>

		<!--
		<div id="fh5co-events" data-section="events" style="background-image: url(images/slide_2.jpg);" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2 to-animate">
						<h2 class="heading">Upcoming Events</h2>
						<p class="sub-heading">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-event to-animate-2">
							<h3>Kitchen Workshops</h3>

							<span class="fh5co-event-meta">March 19th, 2016</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<p><a href="#" class="btn btn-primary btn-outline">Read More</a></p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-event to-animate-2">
							<h3>Music Concerts</h3>
							<span class="fh5co-event-meta">March 19th, 2016</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<p><a href="#" class="btn btn-primary btn-outline">Read More</a></p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-event to-animate-2">
							<h3>Free to Eat Party</h3>
							<span class="fh5co-event-meta">March 19th, 2016</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<p><a href="#" class="btn btn-primary btn-outline">Read More</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>


-->
		<div id="fh5co-contact" data-section="reservation">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Reach out to us</h2>
						<p class="sub-heading to-animate">Let's bring a change over a cup of coffee</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 to-animate-2">
						<h3>Contact Info</h3>
						<ul class="fh5co-contact-info">
							
							
							<li><i class="icon-envelope"></i>writingsbykaur@gmail.com</li>
							
						</ul>
					</div>
					<form action="", method="post">{% csrf_token %}
					<div class="col-md-6 to-animate-2">
						<h3>Reservation Form</h3>
						<div class="form-group ">
							<label for="name" class="sr-only">Name</label>
							{{ form.name }}
						</div>
						<div class="form-group ">
							<label for="email" class="sr-only">Email</label>
							{{ form.email }}
						</div>
						<div class="form-group ">
							<label for="email" class="sr-only">Subject</label>
						{{ form.subject }}
						</div>
						<div class="form-group ">
							<label for="message" class="sr-only">Message</label>
							{{ form.message }}	
						</div>
						<div class="form-group ">
							<input class="btn btn-primary" value="Send Message" type="submit">
						</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		
	</div>

	<div id="fh5co-footer">
		<div class="container">

					<p class="to-animate" style="color:rgba(0, 0, 0, 0.0)">&copy; 2016 Foodee Free HTML5 Template. <br> Designed by FREEHTML5.com <br/> 
					</p>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul>

						<div class="fb-follow" data-href="https://www.facebook.com/writingsbykaur/" data-width="200" data-layout="standard" data-size="large" data-show-faces="true"></div>

					</ul>
					<ul class="fh5co-social">
						<li class="to-animate-2"><a href="https://www.facebook.com/writingsbykaur"><i class="icon-facebook"></i></a></li>
						<li class="to-animate-2"><a href="https://www.instagram.com/writingsbykaur"><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	
	
	
	<!-- jQuery -->
	<script src="{% static 'portfolio/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'portfolio/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'portfolio/js/bootstrap.min.js' %}"></script>
	<!-- Bootstrap DateTimePicker -->
	<script src="{% static 'portfolio/js/moment.js' %}"></script>
	<script src="{% static 'portfolio/js/bootstrap-datetimepicker.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'portfolio/js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'portfolio/js/jquery.stellar.min.js' %}"></script>

	<!-- Flexslider -->
	<script src="{% static 'portfolio/js/jquery.flexslider-min.js' %}"></script>
	<script>
		$(function () {
	       $('#date').datetimepicker();
	   });
	</script>
	<!-- Main JS -->
	<script src="{% static 'portfolio/js/main.js' %}"></script>

	</body>
</html>

